
<div class="ui tab" data-tab="shippingCountdown">
    <div class="ui segment">
        <h4 class="ui dividing header">{{ 'asdoria.ui.shipping_delivery_time'|trans }}</h4>
        {{ form_row(form.additionalDeliveryTime) }}
    </div>
</div>
