<div class="ui tab" data-tab="rules">
    <h3 class="ui top attached header">{{ 'sylius.ui.rules'|trans }}</h3>

    <div class="ui attached segment">
        <div id="rules">
            {% include '@SyliusAdmin/ShippingMethod/_rules.html.twig' %}
        </div>
    </div>
</div>
